<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <hr>
    <form action="" method="post">{% csrf_token %}
        {{form.as_p}}
         <!-- Display form errors -->
         {% for field in form %}
         {% for error in field.errors %}
             <div class="error">{{ error }}</div>
         {% endfor %}
     {% endfor %}

     <!-- Display non-field errors -->
     {% for error in form.non_field_errors %}
         <div class="error">{{ error }}</div>
     {% endfor %}

        <button type="submit">Login</button>
    </form>
</body>
</html>